@model MovieTickets.Models.AddToShoppingCartDto;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Add selected product to shopping cart.</h1>

<div class="row">
    <div class="col">
        <form asp-action="AddToShoppingCart">
            <input type="hidden" asp-for="TicketId"/>
            <div class="form-group">
                <input disabled class="form-control" asp-for="ticket.movie"/>
            </div>
            <div class="form-group">
                <input type="number" class="form-control" asp-for="Quantity"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>